.center {
  text-align: center;
}

.pagination {
    display: inline-block;
    color:black;
  }
  
  .pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
  }
  .disabled{
    pointer-events: none;
  }